
<div class="container color-dark">
    
  <div class="col">
      <h4><p>Add a bucket list item</p></h4>
    </div>

    <div class="col">
     <!-- <h4><p>Your bucket list</p></h4>  -->
      <h4><p>Your bucket list ({{ itemCount }})</p></h4>
    </div>
</div>


  <h4><p>
      This is what I'm all about. <a href="" (click)="(sendMeAbout)"><strong>Take me back</strong></a>.
    </p></h4>


  <!--<div class="container color-light">  -->

    <div class="container color-light" [@goals]="goals.length">
    <div class="col">
      <h4><p class="sm">Use this form below to add a new bucket list goal. What do you want to accomplish in your life?</p></h4>

      <form>
            <input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="goalText">   

          
       <!-- Interpolation    
        <input type="submit" class="btn" value="{{ btnText }}">  -->
        <input type="submit" class="btn" value="{{ btnText }}" (click)="addItem()">
     
      </form>    
    </div>

    <div class="col">
     <h4> 
       <!--<p class="life-container">
        I want to climb a mountain
      </p></h4>
       -->
      <p class="life-container" *ngFor="let goal of goals">
        {{ goal }}   
      </p></h4>  
     <h4> <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)"></h4>
    </div>

  </div>